html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px; // default font-size  
        &.text-size-smaller {
          font-size: 12px;
        }
        &.text-size-larger {
          font-size: 16px;
        }
        &.text-size-largest {
          font-size: 18px;
        }
}

.btn-icon, .btn-text, .btn-default, .btn-icon-text, .btn-primary, .btn-danger {
	border-radius: 2px;
}

#create-topic {
	background-color: var(--tertiary);
	color: var(--secondary);
}

#create-topic .d-icon {
	color: var(--secondary);
}

.d-header-icons .d-icon {
    color: var(--tertiary);
}

.list-controls .combo-box .combo-box-header {
    background: var(--tertiary-low);
    color: var(--primary);
    border: 0;
    border-radius: 2px;
}

.select-kit.combo-box .select-kit-header {
    border-radius: 2px;
}

.select-kit {
	border-radius: 2px;
}

.nav-pils>a.active {
	padding: 9px 16px;
	background: #FFFFFF;
	box-shadow: inset -1px 0px 0px #D9D9D9, inset 1px 0px 0px #D9D9D9, inset 0px 1px 0px #D6D6D6;
	border-radius: 2px 2px 0px 0px;
}

.nav-pils>a {
	padding: 9px 16px;
	background: #F5F5F5;
	box-shadow: inset -1px 0px 0px #D9D9D9, inset 1px 0px 0px #D9D9D9, inset 0px 1px 0px #D6D6D6;
	border-radius: 2px 2px 0px 0px;
	margin: 10px 0px;
}