.btn-icon, .btn-text, .btn-default, .btn-icon-text, .btn-primary, .btn-danger {
	border-radius: 2px;
}

#create-topic {
	background-color: var(--tertiary);
	color: var(--secondary);
}

#create-topic .d-icon {
	color: var(--secondary);
}

.d-header-icons .d-icon {
    color: var(--tertiary);
}